body{
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container{
  position: relative;
  display: flex;
}

div.ingredients{
  position: relative;
  margin-left: 5%;
}

div.instructions{
  position: relative;
  margin-left: 5%;
}

.curtsy{
  font-size: 21px;
  position: relative;
  bottom: 10px;
  text-align: center;
}